[Desktop Entry]
Version=1.0
Type=Application
Name=VoiceRecorder
Comment=VoiceRecorder is a simple voice/audio recording application
Exec=voicerecorder
Icon=voicerecorder
Categories=AudioVideo;Audio;
Terminal=false
